#tarjeta{
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
}
#p{
    font-weight: 600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    text-align: center;
}