<!--<p>componente5 works!</p>-->

<mat-card class="example-card" id="tarjeta">
    <mat-card-title-group>
        <mat-card-title>Desarrollador</mat-card-title>
        <img mat-card-md-image src="../../../assets/avatar.jpg">
    </mat-card-title-group>
    <mat-card-content>
        <p id="p">Nombre: Darian Fuentes</p>
        <p id="p">DNI: 46.482.676</p>
        <p id="p">Ocupacion: Estudiante en el CET30</p>
        <p id="p">Curso: 5°3°</p>
        <p id="p">Telefono: +54 299-5-710-236</p>
        <p id="p">Hobby: Ir al gimnasio - Leer</p>
    </mat-card-content>
</mat-card>